{{#each this}}
<li class="film-item">
    <img class="film-item__poster" src="https://image.tmdb.org/t/p/w500{{backdrop_path}}" alt="poster">
    <p class="film-item__title">{{title}}</p>
</li>
{{/each}}