{{#each this}}
<li class="main-content__item">
    <img class="main-content__item__img" src="http://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}}" />
    <p class="main-content__item__rating">{{evaluation}}</p>
    <h2 class="main-content__item__title">{{title}}</h2>
</li>
{{/each}}