<<<<<<< HEAD
$first-font: 500 'Roboto', sans-serif;
$second-font: 400 'Roboto', sans-serif;
=======
$first-font: 500 14px/1.2 "Roboto", sans-serif;
$second-font: 400 16px/1.2 "Roboto", sans-serif;
>>>>>>> 8af90906aa5b1302ed40ee3919d4bd125f330160
$header-footer-active-elem-color: #77c1bb;
$subtitles-list-hover-color: #fff;
